.header {
  background: var(--gray-700);
  height: 12.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem 0;
}

.header img {
    height: 2.25rem;
}

.header strong {
    font-size: 3rem;
    line-height: 3rem;
    color: var(--blue);
}

.header span {
    color: var(--purple-dark);
}

