.card {
  overflow: hidden;
  height: 5rem;
  background: var(--gray-500);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.card button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.card p {
  color: var(--gray-100);
  font-weight: 400;
}

.trash {
  color: var(--gray-300);
}
